# 临时文件
*.tmp
*.bak
*.log

# 编辑器
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# 敏感数据（不要提交）
/tmp/feishu_cookies.json
/tmp/minutes_candidates.json
/tmp/minutes_judgments.json
/tmp/speaker_counts.json
/tmp/minutes_sync_report.json
